<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shtokal.tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity android:name=".lights.WhiteActivity" />
        <activity android:name=".lights.LightActivity" />
        <activity android:name=".metalDetector.SettingsActivity" />
        <activity android:name=".metalDetector.MetalActivity" />
        <activity android:name=".compass.solar.CompassActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ruler.RulerActivity" />
        <activity android:name=".levell.view.Levell" />
        <activity android:name=".levell.view.SettingsActivity" />
        <activity android:name=".cardiograph.HeartRateMonitor" />
        <activity android:name=".qrcodescaner.QrscanerActivity" />
        <activity android:name=".soundmeter.SoundActivity" />
        <activity android:name=".vibration.VibrationMeterActivity" />

        <activity android:name=".Details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>